.masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;

  .masonry-brick {
    background-color: white;
    background-clip: content-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: calc(50% - 12px);
    margin-top: 12px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;

    .plant-img {
      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }

    .plant-info {
      padding: 12px;

      h1 {
          font-size: 26px;
      }
      h2 {
          font-size: 20px;
      }
    }
  }

  .add-plant {
    width: calc(50% - 12px);
    height: auto;
    background-color: #C76E4E;
    color: #ffd8b1;
    aspect-ratio: 1/1;
    background-clip: content-box;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    .icon {
      position: relative;

      svg {
        height: 30px;
        width: 30px;
      }

      p {
        white-space: nowrap;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .add-plant:active{
      color: #C76E4E;
      background-color: #ffd8b1;
  }
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #C76E4E !important;
}

.MuiInputLabel-root {
  color: #C76E4E !important;
}

.add-plant-form {
  align-items: center;
  position: relative;

  .plant-form-header {
    display: flex;
    width: 100%;
  }

  button {
    width: 100%;
  }

  .MuiList-root {
    width: 100% !important;
    padding: 0;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      width: 45%;
    }
  }
}